* {
    box-sizing: border-box;
}

.wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}


.navigation {
    width: 960px;
    background-color: red; 
    margin-bottom: 1px;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

ul li {
    list-style-type: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    float: left;
}

ul {
    float: right;
    padding-right: 15px;
}

.svg-images {
    width: 100%;
}

.svg-images img {
    width: 100%;
}

.image-text-wrapper {
    width: 32%;
    float: left;
    margin: 0 5px;
}

.text {
    width: 30%;
    padding: 15px;
    background-color: yellow;
    float: right;
}

.third {
    clear: left;
}

.footer {
    background-color: navy;
    padding: 5px;
}

.footer p {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    color:white;
}