* {
    box-sizing: border-box;
}

.football {
    width: 594px;
    height: 372px;
    background: url("./img/field.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.stop-player {
    width: 100px;
    height: 20px;
    background-color: red;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
}

.player{
    display: block;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

